{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
 <!--mains start-->
 
 <div class="row mt-5">
                    
    <div class="col-md-4 shadow mt-5 p-4 mx-auto bg-body-tertiary rounded">
    
        <h2 align="center">About us</h2>
        <p align="justify">
            Welcome to Bookshop, your go-to place for all things books! We are passionate about literature and
            strive to provide the best collection of books for all our bookworm customers. Our team is dedicated
            to
            ensuring that you find your perfect read, regardless of your taste or preference. Whether you're a
            fan
            of fiction, non-fiction, or any other genre, we've got you covered.</p>
        <p>Our mission is to foster a love for reading and create a community where book enthusiasts can come
            together
            to share their thoughts and insights. We organize regular book clubs, author meet-and-greets, and
            other
            exciting events to engage our customers and create a vibrant literary atmosphere.</p>
        <p>Visit us today and embark on a literary journey that will ignite your imagination and broaden your
            horizons!
        </p>
        <h5>This project is developed by Harshada Sandeep Taralekar</h5>
</div>
</div></div>
<!--mains end-->
{% endblock 'main' %}