{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
   <!--mains start-->
   <div class="row mt-5">
    <h2 align="center">Contact Us</h2>
    <div class="col-md-4 shadow mt-5 p-4 mx-auto bg-body-tertiary rounded">
        <h5>Get in Touch</h5>
    <p>We'd love to hear from you! Reach out to us using the form below:</p>
    
        <form method="POST" action="/contact">
  
        {% csrf_token %}
        <div class="mb-3 form-group">
            <label for="name"><strong>Name</strong></label>
            <input type="text" name="mname" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="mb-3 form-group">
            <label for="email"><strong>Email address</strong></label>
            <input type="email" name="memail"  class="form-control" id="email" placeholder="Enter email">
        </div>
        <div class="mb-3 form-group">
            <label for="message"><strong>Message</strong></label>
            <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
<div class="col-md-6 shadow mt-5 p-4 mx-auto bg-body-tertiary rounded">
    <h5>Visit our Shop:<br></h5>
    <i class="bi bi-geo-alt-fill"></i>3rd floor, Vastulakshmi apartment<br>
Kupwad chowk
sangli<br><br><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.1664248741417!2d74.59581177461604!3d16.867659917570496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc123b577bdbe47%3A0xe74853ef146b08ff!2sVastulaxmi%20Apartment!5e0!3m2!1sen!2sin!4v1698404213755!5m2!1sen!2sin" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<br>
<h5>For more Details:</h5>
<p><a href="http://api.whatsapp.com/send?phone=9970123751&text='hi,product is avalible'"><img src="static/asset/images/whatsup.png" alt="whatsup app" width="25px" height="25px" id="whatsup"></a>
    <a href="tel:+9970123751"><img src="static/asset/images/tel.jpeg" alt="tel" width="25px" height="25px"id="tel"></a>
    <br>
    <h5>Follow us:</h5>
     <a href="https://www.instagram.com/bookshop0713/"target="_blank"><img src="static/asset/images/insta.png" alt="Instagram" height="25px" width="25px" id="insta"></a><p>

</div>
<!--mains end-->
{% endblock 'main' %}