{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="{% static 'asset/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
</head>
<body>
   <div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
        <a href="/home" class="anchor">Home Page</a>
       </div>
    <!--<div class="row">-->
        <div class="row">
            <div class="col-md-4 shadow mt-5 p-4 mx-auto bg-body-tertiary rounded">
                <h2 align="center">login</h2>
                
                <form method="POST" action="/login">
                    {% csrf_token %}
                    {% if errmsg %}
                    <div class ="alert alert-danger">
                        {{errmsg}}
                    </div>
                {% endif %}
                    <div class="mb-3">
                        <label for="Input1" class="form-label"><strong>User Name:</strong></label>
                        <input type="email" name="uname" class="form-control" id="Input1" placeholder="enter your name">
                    </div><!--user name-->
                    <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>password:</strong></label>
                        <input type="password" name="upass" class="form-control" id="Input2" placeholder="enter your password">
                    </div><!--password-->
                    
                    <div class="mb-3">
                        
                        <input type="submit" class="btn btn-success" value="submit">
                        Not User?<a style="text-decoration:none" href="/register">Register</a>
                    </div><!--registration-->
                    {% if success %}
                        <div class="alert alert-success">
                            {{success}}
                        </div>
                    {% endif %}
                </form>

            </div><!--col-4end-->
        </div><!--row end-->
    </div><!--container end-->
    <script src="{%static 'asset/js/bootstrap.min.js' %}"></script>
</body>
</html>